:root {
  background: radial-gradient(#050526 0%, #000000 90%) -20vw 10vh no-repeat black;
  margin: 0;
  padding-right:  950px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  perspective: 340px;
  height: 100%;
  overflow: hidden;
}
.space-legion{

  text-align: center;
  padding-top: 50px;
}

.head{
  margin-top: 0px;
}

body{
  padding: 40px;
  font-family: monospace;  
}

.type {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
  justify-content: center;
  padding-left: 80px;
}

/* Animation */
.type {
  animation: animated-text 2s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}


.centered {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%) rotateX(15deg);
  text-align: center;
}

.cyberspace {
  position: relative;
  font-family: 'Cyberspace-Raceway-Back',sans-serif;
  font-size: 4rem;
  color: black;
  -webkit-clip: background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #87d1e4;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #87d1e4;
  filter: url(#extrude);
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -176px -17px #dbdbdb, -605px -17px #d9d9d9, -1495px 468px #fcfcfc, 91px 262px #fcfcfc, -227px 347px #fafafa, -707px 41px #c7c7c7, 570px 107px #dbdbdb, -420px -362px #fcfcfc, 1040px 326px #e0e0e0, -741px 263px #c4c4c4, 596px -189px #d6d6d6, 875px -450px #d6d6d6, 374px -353px #e3e3e3, 1277px -389px #ededed, 844px 94px #dbdbdb, -12px 262px #ebebeb, 1005px -279px #c7c7c7, 583px 448px #d4d4d4, 1323px -107px #f2f2f2, 781px -369px #ebebeb, -429px -221px #e6e6e6, -8px -414px #ebebeb, 501px -369px #d1d1d1, -764px 128px #dbdbdb, -12px -457px #e0e0e0, -1374px 190px #dbdbdb, -787px 329px #f0f0f0, -807px 39px #f0f0f0, -119px -134px #ededed, 1402px -293px #d1d1d1, -1208px -28px #e3e3e3, 291px -128px #e6e6e6, 416px -363px #e3e3e3, -15px 379px #f2f2f2, -54px -374px #d9d9d9, 1355px 54px #dbdbdb, 706px 282px #c2c2c2, 1366px 40px #e8e8e8, 201px -131px #c7c7c7, -621px 86px #ededed, 1004px 446px #ebebeb, 994px -363px #f7f7f7, -1320px -138px #ededed, -192px -358px #d1d1d1, 54px 333px #c4c4c4, -1040px -292px #c7c7c7, 890px -204px #c7c7c7, 309px -410px #d6d6d6, -313px 389px #cfcfcf, 1277px 190px #e3e3e3, 1457px -204px #e3e3e3, 713px -291px #f7f7f7, 11px -435px #f2f2f2, -158px 447px #c7c7c7, 773px 96px #d9d9d9, 396px 399px #cccccc, 808px -306px #d4d4d4, 1305px -42px #f2f2f2, -1331px -101px #c4c4c4, -421px 354px #fafafa, -1456px -273px #d4d4d4, 1186px 211px #c4c4c4, -701px -125px #ebebeb, -478px -258px #fcfcfc, 1313px 196px #f7f7f7, -821px -84px #d4d4d4, 708px 96px #f0f0f0, 294px 72px #f7f7f7, -103px 300px #d1d1d1, 1173px 102px #e3e3e3, 1007px 12px #d1d1d1, -582px -55px #e0e0e0, -1392px 116px #dbdbdb, 1199px 233px #cfcfcf, 326px -213px #fcfcfc, 909px -124px whitesmoke, 1360px 412px #f2f2f2, -545px 57px #f7f7f7, 259px -420px #d6d6d6, 1018px -474px #d6d6d6, 321px 341px #ededed, 1455px -17px #cfcfcf, -1160px 406px #fafafa, 1129px -283px #f0f0f0, 749px 411px #f7f7f7, -679px -124px #ededed, -1034px 340px #dedede, 1013px -233px #d9d9d9, -1403px 30px #f2f2f2, -895px 142px white, -327px 317px #e8e8e8, 913px 333px #cfcfcf, 1419px 245px #f0f0f0, 25px 209px #dbdbdb, 386px -192px #e3e3e3, -722px -97px #cfcfcf, 872px -9px #cfcfcf, 544px -211px #fcfcfc, 866px -51px #e6e6e6, 350px 265px #ededed, -27px 408px #f7f7f7, -275px -16px #c7c7c7, 1024px 199px #d4d4d4, 1430px 291px #d9d9d9, 660px 140px whitesmoke, 1280px 234px whitesmoke, 689px -179px #c7c7c7, 383px -177px #e6e6e6, -1310px 225px #c9c9c9, 273px -388px #ebebeb, 559px -180px #fafafa, 32px 54px #e6e6e6, 141px 8px #fcfcfc, -120px 54px white, -946px 425px #dbdbdb, -421px 415px whitesmoke, -711px 371px #d4d4d4, 1337px -432px #d9d9d9, -978px -247px #c2c2c2, -1411px 323px #c9c9c9, 90px -67px #fcfcfc, 321px 118px #dbdbdb, 1347px 366px #cfcfcf, -1352px -341px #f7f7f7, -142px 161px #d1d1d1, 154px -399px #e6e6e6, 1175px -210px #d1d1d1, -713px -456px #c7c7c7, -591px -14px #ebebeb, 693px 7px #dbdbdb, -1044px -439px #d9d9d9, -1px -250px #fcfcfc, 142px 258px #f2f2f2, 972px -428px #f0f0f0, 514px -458px #cccccc, 423px -285px #fafafa, 1022px -218px #dedede, 935px 187px #e8e8e8, 102px 218px #d4d4d4, -1221px 41px #dedede, 583px 17px #e0e0e0, 1206px -124px #cfcfcf, 581px 86px #e0e0e0, 1027px -7px #d4d4d4, 1269px 157px #d1d1d1, -763px -195px #cccccc, 1093px 363px #ededed, -589px -107px #d1d1d1, 1053px -331px #dedede, 26px 276px #e8e8e8, -553px -264px whitesmoke, 543px -82px #dedede, -1111px 32px #f0f0f0, -376px -356px #dedede, 1148px -358px #dbdbdb, -930px -197px #ededed, -1006px -474px whitesmoke, -1187px 102px #f0f0f0, 1114px -432px #e6e6e6, -200px 322px #ededed, -945px -383px #cfcfcf, -499px 472px #fcfcfc, -754px -239px #dedede, 840px 60px #ededed, -647px 359px #d6d6d6, -678px 272px #f0f0f0, -1211px 86px #d4d4d4, -883px -273px #d4d4d4, -459px 282px #e6e6e6, -1228px -282px #e8e8e8, 208px -90px #cfcfcf, 942px 267px #f7f7f7, 680px -54px #e0e0e0, 1127px 371px #cfcfcf, -177px 153px #d1d1d1, -938px 439px #d4d4d4, 774px 12px #f7f7f7, 1287px -269px #d1d1d1, 756px 364px #dedede, 721px -91px #c7c7c7, -828px 409px #d1d1d1, 972px 478px #dedede, 524px 186px #c7c7c7, 572px 358px #e6e6e6, 971px 41px #c7c7c7, -691px 181px whitesmoke, 1117px 472px #c4c4c4, 1033px 158px #ededed, -303px 98px #d9d9d9, -1291px -137px #c2c2c2, 1091px -395px #f7f7f7, -822px -274px #dbdbdb, -11px -289px #ededed, -1165px -89px #e0e0e0, 696px 476px #fafafa, -602px -27px #e8e8e8, 1261px 282px #c4c4c4, -1451px -443px #dbdbdb, -923px 453px #dbdbdb, -601px 84px #ebebeb, -336px -301px #d6d6d6, 716px 100px #cfcfcf, 689px -334px #c2c2c2, -110px 130px #d6d6d6, -953px 423px #fafafa, 1396px 59px #f0f0f0, -342px -74px #e6e6e6, -1340px 36px white, -1115px 464px #dedede, -894px -367px #f2f2f2, 639px -4px whitesmoke, -1256px 380px #e3e3e3, -682px -425px #fafafa, 769px 161px #c7c7c7, -779px -351px #c4c4c4, 1157px 378px #dbdbdb, 499px 413px #e8e8e8, 1268px -339px whitesmoke, -549px -245px #ebebeb, 742px 323px #f2f2f2, -29px -363px #e0e0e0, 259px 459px #c7c7c7, -318px -452px #e3e3e3, 781px 299px #f2f2f2, 228px 425px #f0f0f0, -949px 215px #d6d6d6, -979px 253px #f7f7f7, -1199px 147px #d6d6d6, -892px -473px #d1d1d1, -894px 232px whitesmoke, 1147px -224px #c9c9c9, 876px -193px #dedede, -182px 234px #c9c9c9, -1355px -376px #fcfcfc, -1479px 223px #f2f2f2, 1132px 152px #ededed, 1012px -414px #e3e3e3, -712px 323px #c9c9c9, -316px 232px #ebebeb, 154px -325px #f0f0f0, -97px -383px #e6e6e6, -410px -404px #e6e6e6, 1153px 254px #f7f7f7, 607px -189px #f2f2f2, -1090px 80px #f0f0f0, 1460px -465px #e3e3e3, -845px -220px #c9c9c9, -339px -416px #d9d9d9, -232px -187px #cccccc, -1409px 246px #e8e8e8, -871px -136px #f7f7f7, -546px 359px #f2f2f2, -1228px 304px #ededed, 760px -458px #dedede, -777px 98px #c4c4c4, -367px 365px #c2c2c2, 225px -4px #ebebeb, 110px 291px #c9c9c9, -8px 427px #c2c2c2, -1239px -457px #f7f7f7, 187px -215px #fcfcfc, -994px 113px #ebebeb, -149px 81px #d1d1d1, -961px -382px #d1d1d1, 1405px 247px #ededed, -1494px 102px #f2f2f2, 736px -155px #e8e8e8, -947px 472px #ededed, 807px 201px #e0e0e0, -1192px -100px whitesmoke, 387px -83px #d4d4d4, -1341px 373px #ededed, 181px 162px #fcfcfc, 972px 203px #e6e6e6, -937px -462px #d6d6d6, 1041px -203px #f2f2f2, 1203px 384px #d1d1d1, 740px 130px #cccccc, 1399px -312px #f7f7f7, 792px 369px #c7c7c7, 750px 417px #d1d1d1, 1070px 334px #f0f0f0, 1361px 237px #d6d6d6, 195px 366px #d9d9d9, -695px -313px #d1d1d1, -309px 436px #d9d9d9, -750px -347px #c9c9c9, -966px -271px #c9c9c9, 568px 401px #e6e6e6, 1306px -277px #d9d9d9, 678px -319px #cccccc, -1059px 423px whitesmoke, -1485px 450px #dbdbdb, 1106px -328px #e8e8e8, 47px 327px #cccccc, -786px -145px white, -860px 97px #c4c4c4, -747px -12px #fafafa, -1150px 480px white, -866px -369px #cccccc, -1350px 383px #dedede, 815px 139px #fafafa, -822px -340px #d1d1d1, 595px -281px #ebebeb, 170px -253px #d4d4d4, -298px 478px #ededed, -308px -81px #d1d1d1, 782px -153px #dedede, 1425px 256px #cfcfcf, -1440px 162px #cccccc, 1079px -288px white, 721px 443px #cfcfcf, -409px 86px #cfcfcf, -705px 478px #cfcfcf, 788px -111px #f7f7f7, 91px 224px #fcfcfc, 1240px 104px #fcfcfc, 897px -195px #d6d6d6, -624px 159px #fcfcfc, -91px -53px #e8e8e8, -1341px 291px #f2f2f2, 489px -242px whitesmoke, 1288px 51px #ebebeb, 427px -64px #d4d4d4, 482px -78px #f7f7f7, 1220px 286px #c7c7c7, -919px -366px #e0e0e0, 1268px -136px #c7c7c7, -1043px 447px #ebebeb, -453px 265px #e8e8e8, 1216px -94px #f0f0f0, -961px -218px #cccccc, -997px 70px #d1d1d1, -834px 60px #c2c2c2, -908px 202px #c4c4c4, 231px 24px #d9d9d9, -681px 130px #c4c4c4, -335px -120px #c9c9c9, 336px -291px #d9d9d9, 1170px -280px #fcfcfc, -19px 376px #fcfcfc, 143px 248px #ededed, 497px -72px #fcfcfc, -159px 254px #e3e3e3, 76px 425px #dedede, 1357px 89px whitesmoke, -412px 444px white, 1459px 319px #dbdbdb, 1199px -67px #dedede, 182px -295px #dbdbdb, 185px -359px #d1d1d1;
  animation: fly 10s linear infinite;
  transform-style: preserve-3d;
}
.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  animation: fade1 10s linear infinite;
}
.stars:after {
  transform: translateZ(-600px);
  animation: fade2 10s linear infinite;
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@keyframes fade1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}
